<!DOCTYPE html>
<html lang="en">
{{>layout}}

<body>

    {{>header}}
    <div class="ui main text container">

        <div class="ui center aligned container">

            <h3>대기오염 정보를 얻으려면 측정장소를 입력해 주세요.</h3>
            <form action="/air" method="post">
                <div class="ui action input">
                    <input placeholder="측정장소" name="location">
                    <button>Search</button>
                </div>
            </form>
            <ul>
                <div class="ui left aligned container">
                    <li>측정장소 : {{location}}</li>
                    <li>측정망 정보 : {{측정망정보}}</li>
                    <li>측정시각 : {{time}}</li>
                    <li>미세먼지(pm 10) : {{pm10}} ㎍/㎥</li>
                    <li>초미세먼지(pm 25) : {{pm25}} ㎍/㎥</li>
                    <li>통합대기환경수치 : {{통합대기환경수치}}</li>
                    <li>통합대기환경지수 : {{통합대기환경지수}}</li>
                </div>
            </ul>
        </div>
    </div>

    {{>footer}}
</body>

</html>