<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        {{>header}}
        <p>측정장소 : {{location}}</p>
        <p>측정망 정보 : {{측정망정보}}</p>
        <p>측정시각 : {{time}}</p>
        <p>미세먼지(pm 10) : {{pm10}} ㎍/㎥</p>
        <p>초미세먼지(pm 25) : {{pm25}} ㎍/㎥</p>
        <p>통합대기환경수치 : {{통합대기환경수치}}</p>
        <p>통합대기환경지수 : {{통합대기환경지수}}</p>
        {{>footer}}
    </div>
</body>

</html>