<!DOCTYPE html>
<html lang="en">

{{>layout}}

<body>

    {{>header}}
    <div class="ui main text container">

        <div class="ui left aligned container">
            <ul>
                <h3>pm 정의</h3>
            </ul>
            {{#메시지1}}
            <ul>
                <li>pm10 : {{pm10}}</li>
                <li>pm25 : {{pm25}}</li>
            </ul>
            {{/메시지1}}
            {{#메시지2}}
            <ul>
                <h3>통합대기환경지수(수치)</h3>
            </ul>
            <ul>
                <li>1 : {{1}}</li>
                <li>2 : {{2}}</li>
                <li>3 : {{3}}</li>
                <li>4 : {{4}}</li>
            </ul>
            {{/메시지2}}
        </div>
    </div>
    {{>footer}}
</body>

</html>