<!DOCTYPE html>
<html lang="en">
{{>layout}}

<body>

    {{>header}}
    <div class="ui main text container">
        <div class="ui center aligned container">
            <h3>Well come to Air_Pollution Search Site!!</h3>
        </div>
    </div>

    {{>footer}}
</body>

</html>