<!DOCTYPE html>
<html lang="en">
{{>layout}}

<body>

    {{>header}}
    <div class="ui main text container">

        <div class="ui center aligned container">
            <h3>대기오염 정보를 얻고 싶은 측정장소를 입력해 주세요.</h3>
            <form action="/air" method="post">
                <div class="ui action input">
                    <input placeholder="측정장소" name="location">
                    <button>Search</button>
                </div>
                <ul>
                    {{결과}}
                </ul>
            </form>
        </div>
    </div>

    {{>footer}}
</body>

</html>