<!DOCTYPE html>
<html lang="en">
{{>layout}}

<body>

    {{>header}}
    <div class="ui main text container">

        <div class="ui center aligned container">

            <h2>{{메시지}}</h2>
            {{#측정장소}}
            <ul>
                <li>
                    <div class="ui left aligned container">
                        측정장소 : {{stationName}}<br>
                        주소 : {{addr}}</p>
                    </div>

                </li>
            </ul>
            {{/측정장소}}
        </div>
    </div>
    {{>footer}}
</body>

</html>