<footer>
    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui horizontal inverted small divided link list">
                <a class="item">개발자 : {{이름}}</a>
                <a class="item">이메일 주소 : {{이메일}}</a>
            </div>
        </div>
    </div>
</footer>