<header>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="/" class="header item">
                대기오염 정보
            </a>
            <a href="/notice" class="item">공지사항</a>
            <a href="/station" class="item">측정장소 입력</a>
            <a href="/help" class="item">도움말</a>
            <a href="/about" class="item">사이트 정보</a>
        </div>
    </div>
</header>